@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Montserrat:wght@500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    background: var(--very-dark-blue);
}

main {
    padding: 30px 20px;
    width: 375px;
    background: var(--off-white);
}

.logo img {
    width: 50px;
    margin-top: -10px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background: var(--off-white);
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--very-dark-blue);
    display: block;
    transition: 0.3s;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

.sidenav.active {
    right: 0;
}

.sidenav .close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.burger-icon {
    cursor: pointer;
}

.banner {
    height: 300px;
    background: url(./assets/images/image-web-3-mobile.jpg) center/contain no-repeat;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.6rem;
    font-weight: 800;
    text-shadow: 0 0 1px var(--very-dark-blue);
    padding-right: 90px;
    margin-bottom: 20px;
}

.future-text {
    color: var(--dark-grayish-blue);
    text-shadow: 0 0 1px var(--dark-grayish-blue);
    opacity: 0.8;
    margin-bottom: 30px;
    line-height: 25px;
}

button {
    background: var(--soft-red);
    padding: 18px 35px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--off-white);
    letter-spacing: 5px;
    border: none;
    text-shadow: 0 0 1px var(--off-white);
    margin-bottom: 50px;
}

button:hover {
    cursor: pointer;
    background: var(--very-dark-blue);
}

.news-card {
    background: var(--very-dark-blue);
    margin-bottom: 50px;
    padding: 30px 20px;
}

.news-card h2 {
    color: var(--soft-orange);
    font-size: 2rem;
    margin-bottom: 30px;
}

h3 {
    color: var(--off-white);
    margin-bottom: 20px;
    font-size: 1.2rem;
}

h3:hover {
    cursor: pointer;
    color: var(--soft-orange);
}

.new {
    border-bottom: 1px solid hsla(233, 8%, 79%, 0.5);
    margin-bottom: 30px;
}

.new p {
    color: var(--grayish-blue);
    margin-bottom: 30px;
    font-size: 0.92rem;
    opacity: 0.8;
}

.last {
    border: none;
    margin-bottom: 0;
}

.last p {
    margin-bottom: 0;
}

.article-card {
    display: flex;
    margin-bottom: 20px;
}

.card-header {
    width: 30%;
}

.card-header img {
    width: 100%;
}

.card-body {
    width: 70%;
    padding-left: 20px;
}

h4 {
    font-size: 2rem;
    color: var(--grayish-blue);
    margin-bottom: 10px;
}

h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--very-dark-blue);
    text-shadow: 0 0 1px var(--very-dark-blue);
}

h5:hover {
    cursor: pointer;
    color: var(--soft-red);
}

.card-body p {
    color: var(--dark-grayish-blue);
    text-shadow: 0 0 1px var(--dark-grayish-blue);
    opacity: 0.8;
    line-height: 25px;
}


@media screen and (min-width: 1440px) {
    
    main {
        width: 1300px;
        padding: 100px 150px;
    }

    .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 0.5fr);
        grid-column-gap: 30px;
        grid-row-gap: 0px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 4; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 3 / 3 / 4 / 4; }

    .banner {
        height: 273px;
        background: url(./assets/images/image-web-3-desktop.jpg) center/contain no-repeat;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2.9rem;
        padding-right: 0;
    }

    .news-card {
        margin-bottom: 50px;
    }

    .new p {
        color: var(--grayish-blue);
        margin-bottom: 30px;
        font-size: 0.85rem;
    }

    .last p {
        margin-bottom: 0;
    }

    .future-text {
        font-size: 0.85rem;
    }

    h4 {
        font-size: 1.5rem;
        color: var(--grayish-blue);
        margin-bottom: 10px;
    }
    
    h5 {
        font-size: 0.9rem;
        margin-bottom: 10px;
        color: var(--very-dark-blue);
        text-shadow: 0 0 1px var(--very-dark-blue);
    }
    
    h5:hover {
        cursor: pointer;
        color: var(--soft-red);
    }
    
    .card-body p {
        color: var(--dark-grayish-blue);
        text-shadow: 0 0 1px var(--dark-grayish-blue);
        opacity: 0.8;
        line-height: 25px;
        font-size: 0.82rem;
    }

    .burger-icon {
        display: none;
    }

    ul {
        display: flex;
    }

    .sidenav {
        height: 100%;
        width: 250px;
        margin-right: 150px;
        position: static;
        z-index: 1;
        background: var(--off-white);
        padding-top: 0px;
        transition: left 0.5s ease;
    }
    
    .sidenav a {
        padding: 0ch 8px 8px 0px;
        text-decoration: none;
        font-size: 1.29rem;
        color: var(--very-dark-blue);
        display: block;
        transition: 0.3s;
    }
    
    .sidenav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 0px;
    }

    #openBtn {
        display: none;
    }
    
    .sidenav .close {
        display: none;
    }

}


